<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任務倒數第3天</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/task-13.css">
    <script src="/scripts/common.js"></script>
</head>

<body>
    <div class="container">
        <!-- 圖片與行動區域 -->
        <img src="/images/D03/750x1200-Day3_01.png" alt="任務圖片">
        <!-- 新增問答題 1 -->
        <div class="quiz-container" id="quiz1">
            <div class="quiz">
                <img src="/images/D03/750x1200-Day3_02.png" alt="問答題 1 題目">
                <div class="answers">
                    <img class="answer" data-answer="1" src="/images/D03/D3-QA-CTA-images/Q1/D3-Q1-CTA_01.png"
                        alt="問答題 1 答案">
                    <img class="answer" data-answer="1" src="/images/D03/D3-QA-CTA-images/Q1/D3-Q1-CTA_ov_01.png"
                        alt="問答題 1 答案 選擇" style="display: none;">
                    <img class="answer" data-answer="2" src="/images/D03/D3-QA-CTA-images/Q1/D3-Q1-CTA_02.png"
                        alt="問答題 1 答案">
                    <img class="answer" data-answer="2" src="/images/D03/D3-QA-CTA-images/Q1/D3-Q1-CTA_ov_02.png"
                        alt="問答題 1 答案 選擇" style="display: none;">
                    <img class="answer" data-answer="3" src="/images/D03/D3-QA-CTA-images/Q1/D3-Q1-CTA_03.png"
                        alt="問答題 1 答案">
                    <img class="answer" data-answer="3" src="/images/D03/D3-QA-CTA-images/Q1/D3-Q1-CTA_ov_03.png"
                        alt="問答題 1 答案 選擇" style="display: none;">
                    <img class="confirm" src="/images/D03/D3-QA-CTA-images/Q1/D3-QA-CTA_Confirm.png" alt="問答題 1 答案">
                </div>
            </div>
            <div id="answerquiz1">
                <img class="result correct" src="/images/D03/750x1200-Day3_03.png" alt="問答題 1 正確答案"
                    style="display: none;">
                <img class="result incorrect" src="/images/D03/750x1200-Day3_X_03.png" alt="問答題 1 錯誤答案"
                    style="display: none;">
            </div>
        </div>
        <!-- 新增問答題 2 -->
        <div class="quiz-container hidden" id="quiz2">
            <div class="quiz">
                <img src="/images/D03/750x1200-Day3_04.png" alt="問答題 2 題目">
                <div class="answers">
                    <img class="answer" data-answer="1" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_01.png"
                        alt="問答題 2 答案">
                    <img class="answer" data-answer="1" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_ov_01.png"
                        alt="問答題 2 答案 選擇" style="display: none;">
                    <img class="answer" data-answer="2" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_02.png"
                        alt="問答題 2 答案">
                    <img class="answer" data-answer="2" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_ov_02.png"
                        alt="問答題 2 答案 選擇" style="display: none;">
                    <img class="answer" data-answer="3" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_03.png"
                        alt="問答題 2 答案">
                    <img class="answer" data-answer="3" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_ov_03.png"
                        alt="問答題 2 答案 選擇" style="display: none;">

                    <img class="answer" data-answer="4" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_04.png"
                        alt="問答題 2 答案">
                    <img class="answer" data-answer="4" src="/images/D03/D3-QA-CTA-images/Q2/D3-Q2-CTA_ov_04.png"
                        alt="問答題 2 答案 選擇" style="display: none;">


                    <img class="confirm" src="/images/D03/D3-QA-CTA-images/Q2/D3-QA-CTA_Confirm.png" alt="問答題 2 答案">
                </div>
            </div>
            <div id="answerquiz2">
                <img class="result correct" src="/images/D03/750x1200-Day3_05.png" alt="問答題 2 正確答案"
                    style="display: none;">
                <img class="result incorrect" src="/images/D03/750x1200-Day3_X_05.png" alt="問答題 2 錯誤答案"
                    style="display: none;">
            </div>
        </div>
        <div class="content-container  <% if (!isCompleted) { %> hidden <% } %>">
            <img src="/images/D03/750x1200-Day3_06.png" alt="任務圖片">
            <div class="action-container disabled-container">
                <div class="checkbox-container">
                    <input type="checkbox" id="taskCompletedCheckbox" <% if (isCompleted) { %> checked disabled <% } %>>
                        <label for="taskCompletedCheckbox">我已完成【本次任務內容】</label>
                </div>
                <div>
                    <% if (status === '進行中' && !isCompleted) { %>
                        <button class="button" id="complete-task-btn">
                            <img src="/images/D03/750x1200-CTA_01.png" alt="提交按鈕">
                        </button>
                        <% } else if (isCompleted) { %>
                            <button class="button" id="complete-task-btn">
                                <img src="/images/D03/750x1200-CTA_02.png" alt="已完成按鈕">
                            </button>
                            <% } else { %>
                                <div class="button" id="complete-task-btn">
                                    <img src="/images/750x1200-CTA_01_grey.png" alt="已完成按鈕">
                                </div>
                                <% } %>
                </div>
            </div>

        </div>

        <!-- 扭蛋相關 -->
        <% if (isCompleted && remainingEntries > 0 && status === '進行中') { %>
            <div class="gacha-wrapper" id="gacha-wrapper"> 
                <% } else { %>
                    <div class="gacha-wrapper hidden" id="gacha-wrapper">
                        <% } %>
                            <img class="Gacha-img" src="/images/D03/扭蛋.png" alt="扭蛋圖片">
                            <div class="Gacha-Container">
                                <img src="/images/D03/扭蛋-CTA_02.png" alt="扭蛋圖片" id="lotteryImage">
                            </div>
                    </div>



                    <!-- 獎勵訊息 -->
                    <div id="rewardMessage" class="hidden">
                        <img class="close-button" src="/images/PopUp/X.png" alt="關閉獎勵提示按鈕">
                        <img class="reward-img" src="/images/PopUp/點擊領取獎勵金popup-4.png" alt="獎勵圖片">
                    </div>

                    <!-- 彈窗內容 -->
                    <div id="popup" class="popup hidden">
                        <div class="popup-content">
                            <p>更多訊息</p>
                            <button class="close-popup">關閉</button>
                        </div>
                    </div>

            <!-- Bounce 頁面彈窗 -->
            <div id="bouncePopup" class="popup hidden">
                <div class="popup-content">
                    <iframe id="bounceIframe" src="" frameborder="0"></iframe> <!-- 用 iframe 嵌入 bounce.ejs -->
                    <img id="closeBouncePopup" class="close-popup" src="/images/Lucky-Draw/X.png" alt="關閉按鈕">
                </div>
            </div>

            <!-- 冷凍層 -->
            <div id="freezeLayer" class="hidden"></div>
            <img class="fixed-bottom" src="/images/D03/background.png" alt="背景圖片">
    </div>
    
    <script nonce="<%= nonce %>">
        // 初始化 sessionStorage
        initializeSessionStorage('<%= contactId %>');

        // 定義 DOM 元素和常量
        document.addEventListener('DOMContentLoaded', () => {
            const elements = {
                popup: document.getElementById('popup'),
                closePopupButton: document.querySelector('.close-popup'),
                checkbox: document.getElementById('taskCompletedCheckbox'),
                button: document.getElementById('complete-task-btn'),
                buttonImg: document.querySelector('#complete-task-btn img'),
                freezeLayer: document.getElementById('freezeLayer'),
                rewardMessage: document.getElementById('rewardMessage'),
                closeRewardButton: document.querySelector('#rewardMessage .close-button'),
                taskVideo: document.getElementById('taskVideo'),
                gachaContainer: document.querySelector('.gacha-wrapper'),
                gachaImg: document.querySelector('.Gacha-img'),
                actionContainer: document.querySelector('.action-container'),
                contentContainer: document.querySelector('.content-container'),
                lotteryImage: document.getElementById('lotteryImage'),
                bouncePopup: document.getElementById('bouncePopup'),
                bounceIframe: document.getElementById('bounceIframe'),
                closeBouncePopup: document.getElementById('closeBouncePopup'),
                rewardImg: document.querySelector('.reward-img'),
            };

            const constants = {
                taskCompletedSrc: '/images/D03/750x1200-CTA_02.png',
                taskIncompleteSrc: '/images/D03/750x1200-CTA_01.png',
                rewardApiEndpoint: '/task/13/complete',
            };

            // 更新按鈕狀態
            const updateButtonState = () => {
                const isCheckboxChecked = elements.checkbox.checked;
                let isCompleted;
                // 檢查是否存在圖片
                if (elements.buttonImg) {
                    const buttonImgSrc = elements.buttonImg.getAttribute('src');
                    console.log('按鈕圖片:', buttonImgSrc);

                    // 判斷是否是指定的提交圖片，並且按鈕非完成狀態
                    isCompleted = buttonImgSrc === constants.taskCompletedSrc; // 檢查是否完成
                    elements.button.disabled = !isCheckboxChecked || isCompleted || buttonImgSrc !== constants.taskIncompleteSrc;

                    console.log('按鈕是否已完成:', isCompleted);

                } else {
                    console.log('按鈕未包含圖片');
                }
                elements.button.style.opacity = elements.button.disabled ? 0.5 : 1;
            };

            // 彈窗邏輯
            const setupPopupEvents = () => {
                elements.closePopupButton.addEventListener('click', () => elements.popup.classList.add('hidden'));
                elements.popup.addEventListener('click', (event) => {
                    if (event.target === elements.popup) {
                        elements.popup.classList.add('hidden');
                    }
                });
            };

            // 提交任務完成
            const completeTask = async () => {
                if (elements.button.disabled) return;
                navigateToParent('GetReward');
                const userId = sessionStorage.getItem('ContactId');
                elements.button.disabled = true;
                elements.buttonImg.setAttribute('src', constants.taskCompletedSrc);
                elements.freezeLayer.classList.add('active');

                try {
                    const response = await fetch(constants.rewardApiEndpoint, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ UserId: userId }),
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP 錯誤！狀態碼: ${response.status}`);
                    }

                    elements.rewardMessage.classList.remove('hidden');
                    elements.gachaContainer.classList.remove('hidden');
                    elements.gachaImg.classList.remove('hidden');

                     document.getElementById('gacha-wrapper').scrollIntoView({
                                behavior: 'smooth',
                                block: 'start', // 滑動到最底部
                            })
                } catch (error) {
                    console.error('提交失敗:', error);
                } finally {
                    elements.freezeLayer.classList.remove('active');
                }
            };

            // 問答題邏輯
            const setupQuizEvents = () => {
                document.querySelectorAll('.quiz .answer').forEach(answer => {
                    answer.addEventListener('click', (e) => {
                        const quiz = answer.closest('.quiz');
                        const answerGroup = quiz.querySelectorAll('.answer');
                        const initialAnswers = quiz.querySelectorAll('.answer:not([alt*="選擇"])');
                        const selectedAnswer = quiz.querySelector(`.answer[data-answer="${answer.dataset.answer}"][alt*="選擇"]`);

                        // 檢查是否已經有選中的答案
                        const alreadySelected = quiz.querySelector('.answer.selected');
                        if (alreadySelected && alreadySelected !== selectedAnswer) {
                            // 解除原來選中答案的禁用狀態
                            alreadySelected.classList.remove('selected');
                            alreadySelected.style.pointerEvents = 'auto'; // 重新啟用點擊
                        }

                        // 隱藏所有答案，並恢復初始狀態
                        answerGroup.forEach(img => {
                            img.style.display = 'none';
                            img.classList.remove('selected');
                            img.style.pointerEvents = 'auto'; // 重置所有答案的點擊狀態
                        });
                        // 顯示初始答案圖片
                        initialAnswers.forEach(img => img.style.display = 'block');
                        e.target.style.display = 'none';

                        // 如果有選中的答案，禁用其點擊
                        if (selectedAnswer) {
                            selectedAnswer.classList.add('selected');
                            selectedAnswer.style.display = 'block';
                            selectedAnswer.style.pointerEvents = 'none'; // 禁用點擊選中的答案
                        }
                    });
                });

                document.querySelectorAll('.quiz .confirm').forEach(confirmButton => {
                    confirmButton.addEventListener('click', () => {
                        const quiz = confirmButton.closest('.quiz');
                        const quizContainer = confirmButton.closest('.quiz-container');
                        const selectedAnswer = quiz.querySelector('.answer.selected');
                        const questionNumber = quiz.querySelector('img').getAttribute('alt').match(/問答題 (\d+)/)[1];

                        let correctAnswer;
                        if (questionNumber === '1') {
                            correctAnswer = quiz.querySelector('.answer[data-answer="2"]');
                        } else if (questionNumber === '2') {
                            correctAnswer = quiz.querySelector('.answer[data-answer="4"]');
                        }

                        const correctImage = quizContainer.querySelector('.result.correct');
                        const incorrectImage = quizContainer.querySelector('.result.incorrect');

                        if (selectedAnswer && selectedAnswer.dataset.answer === correctAnswer.dataset.answer) {
                            correctImage.style.display = 'block';
                        } else {
                            incorrectImage.style.display = 'block';
                        }

                        // 禁用答案並顯示下一步
                        quiz.querySelectorAll('.answer').forEach(answer => answer.style.pointerEvents = 'none');
                        if (questionNumber === '1') {
                            document.getElementById('quiz2').classList.remove('hidden');
                            document.getElementById('answerquiz1').scrollIntoView({
                                behavior: 'smooth',
                                block: 'start' // 滑動到物件的頂部，可以調整為 'center' 或 'end'
                            });
                        } else if (questionNumber === '2') {
                            elements.actionContainer.classList.remove('hidden');
                            elements.contentContainer.classList.remove('hidden'); // 禁用行動區域
                            elements.actionContainer.classList.remove('disabled-container'); // 啟用行動區域
                            document.getElementById('answerquiz2').scrollIntoView({
                                behavior: 'smooth',
                                block: 'start', // 滑動到最底部
                            })
                        }
                    });
                });

                document.getElementById('quiz1').classList.remove('hidden');
            };

            // 初始化事件監聽
            const initializeEvents = () => {
                elements.checkbox.addEventListener('change', updateButtonState);
                elements.button.addEventListener('click', completeTask);
                elements.closeRewardButton.addEventListener('click', () => elements.rewardMessage.classList.add('hidden'));

                // 影片結束啟用操作
                elements.lotteryImage.addEventListener('click', () => {
                    navigateToParent('Draw_now'); // 導向獎勵頁面
                    const bounceURL = '/lottery/bounce' + window.location.search; // 動態生成 URL
                    elements.bounceIframe.setAttribute('src', bounceURL); // 嵌入 bounce.ejs 的內容
                    elements.bouncePopup.classList.remove('hidden'); // 顯示彈窗
                });


                elements.rewardImg.addEventListener('click', () => {
                    const bounceURL = '/lottery/bounce' + window.location.search; // 動態生成 URL
                    elements.bounceIframe.setAttribute('src', bounceURL); // 嵌入 bounce.ejs 的內容
                    elements.bouncePopup.classList.remove('hidden'); // 顯示彈窗
                });
                // 關閉彈窗邏輯
                elements.closeBouncePopup.addEventListener('click', () => {
                    bouncePopup.classList.add('hidden'); // 隱藏彈窗
                    bounceIframe.setAttribute('src', ''); // 清空 iframe
                });
                setupPopupEvents();
                setupQuizEvents();
            };

            // 初始化
            updateButtonState();
            initializeEvents();
        });
    </script>
</body>

</html>