html, body {
    margin: 0; /* 移除任何邊距 */
    padding: 0; /* 移除任何內間距 */
    width: 100%;
    -ms-overflow-style: none; /* 適用於 IE 和 Edge */
    scrollbar-width: none; /* 適用於 Firefox */
    /*height: 100%;*/
}

.checkbox-container label {
  font-size: 1.1rem;
  /* 預設為手機顯示的大小 */
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  /* 當視窗寬度大於等於 768px（平板或電腦） */
  .checkbox-container label {
      font-size: 3rem;
      /* 調整為電腦顯示的大小 */
  }
}

.container::-webkit-scrollbar {
  display: none; /* 適用於 Chrome 和 Safari，隱藏滾動條 */
}
